<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://127.0.0.1:5000">
        <img src="/static/assets/ncs_logo.png" width="50" height="50" class="d-inline-block align-center" alt="">

        Nighthawk Coders
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Bootstrap menus -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--root menu -->
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarIsabella" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Isabella
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://127.0.0.1:5000/">Greet Program</a>
                    <a class="dropdown-item" href="/isabella">isabella tab</a>
                    <a class="dropdown-item" href="/greet">Flask Greetings</a>
                    <a class="dropdown-item" href="/starter/rgb">RGB Intro</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Data
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/restapi/joke">Joke RESTapi</a>
                    <a class="dropdown-item" href="/restapi/covid19">Covid19 RESTapi</a>
                    <a class="dropdown-item" href="/recipe/viewer">Recipe Viewer</a>
                    <a class="dropdown-item" href="/crud/">SQL CRUD</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Algorithms
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/algorithm/fibonacci">Fibonacci</a>
                    <a class="dropdown-item" href="/algorithm/palindrome">Palindrome</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarMaterials" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Course-materials
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/y2022/repos">Repos</a>
                    <a class="dropdown-item" href="/deploy">Deployment</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/y2022/padlet">Trimester 1</a>
                </div>
            </li>
        </ul>
        <!-- Clock display -->
        <div class="px-3">
            <span id="clock"></span>
        </div>
        <!-- Dark mode action -->
        <div class="custom-control custom-switch">
            <input type="checkbox" onclick="darkFunction()" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch"></label>
        </div>
        <!-- Navigation bar JavaScript support -->
        <script>
            // Dark Mode Toggle
            function darkFunction() {
                let element = document.body;
                element.classList.toggle("dark-mode");
            }
            // Clock controller
            let clockElement = document.getElementById('clock');
            function clock() {
                let date = new Date();
                clockElement.textContent = date.toLocaleString();
            }
            // Clock refresh frequency
            setInterval(clock, 1000);
        </script>
    </div>
</nav>