<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/boostrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baD1411NQApFmC26EwAOH8WgZ15MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <style>

        p {font-size: 20px;color:darkgreen; text-align: center}
        body {background-color:#cedec4}
        .col {background-color: #e9ede6; text-align: center; border-style: solid; border-color: #e9ede6}
        #greet {font-size: 20px;color:darkgreen;}

        /** Gives the Dreamzzz logo some smaller zz's **/
        #zz::after {
            content: "zz";
            font-size: 12px;
        }


    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://127.0.0.1:5000/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">

                <a class="nav-link" id="zz" href="https://www.headspace.com/">Knock off Dreamz<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/leahsaph123/flask_portfolio">repository</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('Articles') }}>Articles</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('meditation') }}>Meditations</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href={{ url_for('isabella') }}>isabella</a>
                    <a class="dropdown-item" href={{ url_for('leah') }}>leah</a>
                    <a class="dropdown-item" href={{ url_for('Tigran') }}>tigran</a>
                    <a class="dropdown-item" href={{ url_for('simon') }}>simon</a>
                    <!-- in case we want a divider in our navbar in the future
                        <div class="dropdown-divider"></div> -->
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Minilabs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href={{ url_for('binary') }}>binary</a>
                    <a class="dropdown-item" href={{ url_for('rgb') }}>rgb</a>
                    <a class="dropdown-item" href={{ url_for('logicgates') }}>logic gates</a>
                    <a class="dropdown-item" href={{ url_for('minilab') }}>minilab</a>
                    <a class="dropdown-item" href={{ url_for('hexcodes') }}>hexcodes</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</html>