<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to hawkers -->
{% set project = "Articles" %}

<!-- Setting up a block replacement to customize background to BIRDS -->
{% block body %}
    <p>Articles About Mental Health</p>
    <div class="container rounded">
    <div class="row g-1">
        <div class="col">
            <div class="p-3 border bg-light">Mindfulness</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">Mindfulness</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">Mindfulness</div>
        </div>
    </div>

        <div class="w-100"></div>
    <div class="row g-1">
        <div class="col">
            <div class="p-3 border bg-light">Mindfulness</div>
        </div>

        <div class="col">
            <div class="p-3 border bg-light">Mindfulness</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">Mindfulness</div>
        </div>
    </div>
    </div>

    <style>
        p {font-size: 20px;color:darkgreen; text-align: center}
        body {background-color:#cedec4}
        .col {background-color: #e9ede6; text-align: center; border-style: solid; border-color: #e9ede6}
        #greet {font-size: 20px;color:darkgreen;}
    </style>
{% endblock %}