<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to hawkers -->
{% set project = "Articles" %}

<!-- Setting up a block replacement to customize background to BIRDS -->
{% block body %}
    <p>Articles About Mental Health</p>
    <div class="row">
        <div class="col">
            <p>Mindfulness</p>
        </div>
        <div class="col">
            <p> link article here</p>
        </div>
        <div class="col">
            <p> link article here</p>
        </div>

        <div class="w-100"></div>

        <div class="col">
            <p> Stress Relief</p>
        </div>

        <div class="col">
            <p>link article here</p>
        </div>
        <div class="col">
            <p> link article here</p>
        </div>
    </div>
    <img src="..." alt="..." class="rounded">
    <img src="..." alt="..." class="rounded-top">
    <img src="..." alt="..." class="rounded-right">
    <img src="..." alt="..." class="rounded-bottom">
    <img src="..." alt="..." class="rounded-left">
    <img src="..." alt="..." class="rounded-circle">
    <img src="..." alt="..." class="rounded-0">
    <style>
        p {font-size: 20px;color:darkgreen; text-align: center}
        body {background-color:#cedec4}
        .col {background-color: #e9ede6; text-align: center}
        #greet {font-size: 20px;color:darkgreen;}
    </style>
{% endblock %}