<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "embeds" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                wireframe
            </div>
            <div class="col-sm">
                brain write
            </div>
            <div class="col-sm">
                tpt 3
            </div>
            <div class = "col-sm">
                greet
            </div>
            <div class="w-100"></div>
            <div class="col-sm">
                wireframe
            </div>
            <div class="col-sm">
                brain write
            </div>
            <div class="col-sm">
                tpt 3
            </div>
            <div class = "col-sm">
                greet
            </div>
            <div class="w-100"></div>
            <div class="col-sm">
                wireframe
            </div>
            <div class="col-sm">
                brain write
            </div>
            <div class="col-sm">
                tpt 3
            </div>
            <div class = "col-sm">
                greet
            </div>
            <div class="w-100"></div>
            <div class="col-sm">
                wireframe
            </div>
            <div class="col-sm">
                brain write
            </div>
            <div class="col-sm">
                tpt 3
            </div>
            <div class = "col-sm">
                greet
            </div>
        </div>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}