<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Hexcodes" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}

    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    </head>

    <div class="col-12">
        <p>your number is <span id="hex">{{ hex }}</span> </p>
    </div>
    <div class="col-12">
        <form action="/hexcodes" id="hexcodes-form" method="post">
            <label for="number">what number would you like?</label>
            <input name="number" id="hex" type="number">
            <input type="submit" value="#">
        </form>
    </div>

    <script>
        $(document).ready(function() {
            red();

            function red() {
                var redLine = $("#red-line")
                var buttons = redLine.children("button")
                // empty string to add 1 or 0 to it
                var string = "";
                for(var button of buttons) {
                    string += button.innerHTML.trim();
                }
                var redhex = parseInt(string, 2)
                $("#red-binary").text(redhex)
            }
// when clicked, reads the button's text as either a 0 or 1, waits for a button to be clicked and then runs (event listener)
            $(".tgl-btn").click("click", function () {
                var num = parseInt(this.innerHTML, 10)
              // toggle between 1 and 0
                if(num == 0) {
                    this.innerHTML = "1"
                }
                else if (num == 1){
                    this.innerHTML= "0"
                }
                red();
            });

        });
    </script>

    <style>
    .tgl-btn {
        width: 50px;
        height: 50px;
    }
    </style>

    <div id="red-line">
        <button class="tgl-btn" id="test"> 0</button>
        <button class="tgl-btn" id="test"> 0</button>
        <button class="tgl-btn" id="test"> 0</button>
        <button class="tgl-btn" id="test"> 0</button>
        <button class="tgl-btn" id="test"> 0</button>
        <button class="tgl-btn" id="test"> 0</button>
        <button class="tgl-btn" id="test"> 0</button>
        <button class="tgl-btn" id="test"> 0</button>

        <p> R: Decimal value is <span id="red-binary"></span></p>

    </div>

    <div>

    </div>

    <div>

    </div>
{% endblock %}