<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to hawkers -->
{% set project = "dreamzzz" %}

<!-- Setting up a block replacement to customize background to BIRDS -->
{% block body %}
    <p class="quote"> Quote of the Day: {{ quote }} </p>
    <script>
    function quote(){

    }

    </script>

    <div class="container">
    <div class="row">
        <div class="rounded col">
            <p>Latest Articles</p>
        </div>
    </div>
    </div>



     <style>
     p.quote {align-text: center}
     .col {border-color: darkgreen}
     p {text-color: darkgreen}
     </style>

{% endblock %}