<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to hawkers -->
{% set project = "dreamzzz" %}

<!-- Setting up a block replacement to customize background to BIRDS -->
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>


{% endblock %}

{% block body %}
    <div>
        <p id="qotd">The quote of the day is: </p>
        <p id="qotdpart2">default</p>
    </div>

    <div class="container">
    <div class="row">
        <div class="rounded col">
            <p id="dino">Latest Articles</p>
        </div>

    <div class="w-100">
    <div class="container">
        <div class="row">
            <div class="rounded col">
                <p> article 1</p>
            </div>
            <div class="rounded col">
                <p> article 2</p>
            </div>
            <div class="rounded col">
                <p>article 3</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


    <script>
        fetch("https://quotes.rest/qod?language=en")
            .then(response => {
                response.json().then(json => {
                    console.log(json)
                    const contents = json['contents'];
                    const quoteDict = contents['quotes']['0'];
                    const author = quoteDict['author'];
                    const quote = quoteDict['quote'];
                    $("#qotd").text(quote + " - " + author);
                })
            })

        var quotes = [
            { quotess: "just keep swimming"},
            { quotess: "never give up"},
            { quotess: "don't stop until you're proud"},
            { quotess: "believe in yourself and anything is possible"},
            { quotess: "just do it"},
            { quotess: "die with memories, not dreams"},
            { quotess: "every moment is a fresh beginning"},
            { quotess: "shoot for the moon- if you miss you'll land among the stars"},
            { quotess: "believe you can and you're halfway there"},
            { quotess: "take a minute to relax"},
            { quotess: "the best view comes after the hardest climb"}
        ]

        var index = 0;
        index = Math.random() * quotes.length;
        index = Math.round(index);
        var q = quotes[index].quotess;
        //console.log("Toprint: ", toPrint);
        //$("#qotdpart2").text(quotes[index].quotess);
        document.getElementById("qotdpart2").innerHTML = quotes[index].quotess;
    </script>


     <style>
     p {
         align-content: center;
     }
     .col {
         border-color: darkgreen;
     }
     qotd {
         text-align: center;
         border-color: darkgreen;
     }
     </style>

{% endblock %}