<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Leah" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="center-block" style="...">
    <div class="col-12">
        <p>sup {{name1}}!</p>
    </div>
    <div class="col-12">
        <form action="/leah" id="leah" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>

        <style>
             p {font-size: 25px;color:darkgreen;}
             #leah {font-size: 20px;color:darkgreen;}
            body {background-color:#cedec4}
        </style>


    </div>

    <p id="click" onclick="fun()">CLICK HERE!</p>
    <script>
    function fun(){
        document.getElementById("click").innerHTML = "HELLO!!!" ;
    }
    </script>

    <button onclick=document.getElementById('flower').src='https://images.pexels.com/photos/736230/pexels-photo-736230.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'>click here to change picture</button>


    <img id="flower" src="https://images.pexels.com/photos/736230/pexels-photo-736230.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">

    <embed type="image/jpg" src="https://upload.wikimedia.org/wikipedia/en/1/1b/Princess_Leia%27s_characteristic_hairstyle.jpg">

    <br>
    <a href="https://docs.google.com/document/d/1OXrhPY_AdWYU6Hmka9spMCCovSuUE5EzOlF2UmKu1cc/edit?usp=sharing">Journal</a>

    <style>
        body {background-color: #cedec4}
        #leah {color:darkgreen}
        p {color:darkgreen}
    </style>
    <embed type="image/jpg" src="https://upload.wikimedia.org/wikipedia/en/1/1b/Princess_Leia%27s_characteristic_hairstyle.jpg">
    <br>
    <a href="https://docs.google.com/document/d/1OXrhPY_AdWYU6Hmka9spMCCovSuUE5EzOlF2UmKu1cc/edit?usp=sharing">Journal</a>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
