<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>leah</title>
</head>
<form>
    <!-- Extending the predefined project layout -->
    {% extends "layouts/base.html" %}

    <!- This is turning off birds background from base.html -->
    {% block background %}
    {% endblock %}
<p>I love {{ object }}</p>
<form action="/greet" id="/greet" method="post"
      <label for="object"></label>
    <input name="object" id="object">
    <input type="submit" value="<3"
</form>
</body>
</html>