<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Leah" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="center-block" style="...">
    <div class="col-12">
        <p>sup {{name1}}!</p>
    </div>
    <div class="col-12">
        <form action="/leah" id="leah" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>

        <style>
            * {font-size: 30px;color:darkgreen;}
            body {background-color:#cedec4}
        </style>


    </div>
    <embed type="image/jpg" src="https://upload.wikimedia.org/wikipedia/en/1/1b/Princess_Leia%27s_characteristic_hairstyle.jpg">
    <br>
    <a href="https://docs.google.com/document/d/1OXrhPY_AdWYU6Hmka9spMCCovSuUE5EzOlF2UmKu1cc/edit?usp=sharing">Journal</a>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
