<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}

    <style>

        /** This makes links not weird **/
        h4{color:green}
        A:link {text-decoration:none }
        A:visited {text-decoration:none }
        A:active {text-decoration:none }
        A:hover {text-decoration:none }

        /** Fantasy is a type of font and serves as a backup**/
        h1,h2{font-size: 25px; color:darkgreen; text-align:center;font-family: "Lucida Handwriting", Fantasy }
        body {background-color:#cedec4}

    /** Fades in text **/
        h1, h2 {font-size: 25px;
            animation-name:fadein;
            animation-duration:11s;
            color:darkgreen; }

        /** fade in pt.2**/
        @keyframes fadein {
            from {color:#cedec4}
            to {color:darkgreen} }

        /** Makes the header follow you as you scroll**/
        div.sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            padding: 5px;}

        /** Makes the videos swing **/
        div.meds {
            animation-name:bounce;
        animation-duration: 3.5s;
            animation-delay: .9s;}

        /** the click at the end is so satisfying  **/
        @keyframes bounce{
            0% {opacity:.1;}
            20% {transform: rotate(-2deg); opacity:.25 }
            40% {transform: rotate(1.5deg); opacity:.5 }
            60% {transform: rotate(-1.5deg); opacity:.75 }
            100% {transform: rotate(1deg); opacity:1}
        }

        /** {margin:auto;} doesn't work for some reason
        also the centering needed to be here, not on the second one**/
        .flex-container {display: flex;
            justify-content: center;
            flex-wrap: wrap;}

        /** Vid row pt.2 **/
        .flex-container > div {
            flex-direction: row;
            padding: 60px;
            flex-wrap: wrap;}

    </style>

    <br>

    <div class="sticky">
        <h1 style="font-size:35px"> Welcome to your meditation page </h1>
        <h2 style="font-size:30px">Sit back relax... and relax</h2>
    </div>

    <br> <br>

    <!-- This flex container is a row containing all of the swinging meditations-->
    <div class="flex-container" >

        <div>
            <div class="meds">
            <iframe width="450" height="300" src="https://www.youtube.com/embed/4ei0zNu-6HQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div>
            <div class="meds" >
                <iframe width="450" height="300" src="https://www.youtube.com/embed/tVuaPQ_WC-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div>
            <div class="meds">
                <iframe width="450" height="300" src="https://www.youtube.com/embed/idCyS-DRX8Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div>
            <div class="meds">
                <iframe width="450" height="300" src="https://www.youtube.com/embed/3X4uA-ANtxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>

<!-- Second row of meditation videos-->
    <div class="flex-container" >



    </div>

<!-- I made it invisible -->
    <div style="opacity:0">
    <iframe width="450" height="300" src="https://www.youtube.com/embed/3X4uA-ANtxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}