<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "embeds" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div style="position: relative;">
                    Video Journal Week 2
                    <iframe src="https://www.loom.com/embed/79301c397fa34b2ea1a13f63db4ee4e7">
                    </iframe>
                </div>
            </div>
            <div class="col-sm">
                TPT 2 8/31 Wireframe
                <embed type="image/jpg" src="https://user-images.githubusercontent.com/87000617/131921030-aa8d3c5d-87bc-4d01-b783-33269be3608d.png" width="200" height="200">
            </div>
            <div class="col-sm">
                TPT 3 binary
            </div>
            <div class="w-100"></div>
            <div class="col-sm">
                <embed type="image/png" src="/static/assets/homepage%20wireframe.png" width="200" height="200">
            </div>
            <div class="col-sm">
                <embed  type="image/png" src="/static/assets/articlepagewireframe.png" width="200" height="200">
            </div>
            <div class="col-sm">
                <embed type="image/png" src="/static/assets/aboutuspagewireframe.png" width="200" height="200">
            </div>
            <div class="w-100"></div>
            <div class="col-sm">
                wireframe
            </div>
            <div class="col-sm">
                brain write
            </div>
            <div class="col-sm">
                tpt 3
            </div>
        </div>
    </div>

            <style>
            * {font-size: 30px;color:darkgreen;}
            p {text-align: center;}
            body {background-color:#cedec4}
            </style>


{% set project = "minilab" %}

    <style> *{text-align:left;font-size: 25px; color:darkgreen} </style>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name1}}!</p>
        </div>
        <div class="col-12">
            <form action="/minilab" id="minilab" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Lab!">
            </form>
        </div>
        <div class="col-12">
            <img src="/static/assets/PythonFlask.jpeg" style="height: 400px" >
        </div>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}