<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "minilab" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name1}}!</p>
        </div>
        <div class="col-12">
            <form action="/minilab" id="minilab" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Lab!">
            </form>
            <style> p{text-align:center;font-size: 25px}


            </style>
            <a href="http://google.com">Wire-Frame Link
            <embed type="image/jpg" src="https://purewows3.imgix.net/images/articles/2020_03/calming-pictures-cat.jpg?auto=format,compress&cs=strip" alt="relaxing image" width="300" height="200">
            </a>

        </div>
        <div class="col-12">
            <img src="/static/assets/PythonFlask.jpeg" style="height: 400px" >
        </div>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}