<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Simon" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <p><b> Tech Talk 1 - Body Simon </b></p> <br>
    <p style="color:mediumpurple;">This is a super interesting paragraph</p> <br>
    <p>Hello, {{ name }}!</p>
    <form action="/greet" id="greet" method="post">
    <label for="name">Type a greeting name?</label>
    <imput name="name" id="name"></imput>
    <imput type="submit" value="Greetings!"</imput>
    </form>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}