<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name1}}!</p>
        </div>
        <div class="col-12">
            <form action="/simon" id="simon" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Heyyy!">
            </form>




            <style>

            /** Everything that fades in **/
                p,h4 ,#simon,.col-12{font-size: 25px;
                    animation-name:fadein;
                    animation-duration:4s;
                    color:darkgreen; }

               @keyframes fadein {
                   from {color:#cedec4}
                   to {color:darkgreen}
               }
                /** p.fun because greet also uses p **/
            #simon {font-size: 25px; color:darkgreen; }
             p.fun {font-size: 25px;color:darkgreen;text-align: center;}
            body {background-color:#cedec4}

            </style>

            <br>
            <p class="fun"> Hello welcome to Simon Brunzell's about us Page, this is a page about the greatest thing ever... me!</p>
            <p class="fun">Some fun facts about me include...</p>
            <p class="fun"> I'm in 12th grade in my Senior year, I am a part of the Del Norte music program, I play the flute, have participated in choir, and
                am a upcoming flute section leader for symphonic band, </p>
            <p class="fun"> I'm a part of our school's GSA, as well as our Hip Hop club </p>
            <p class="fun"> I am the oldest sibling, with two younger siblings, my younger brother Sebastian,
                and my younger sister Josephine</p>
            <p class="fun">Well now that you know you many fun things about me you should feel alot better,
                But if not, idk how you wouldn't, but if you don't some how...</p>
            <p class="fun"> go to Dreamzzz an amazing website full of resources to better your mental health,
                it's also made by some really cool people, including me! ;) </p>


            <style>

                h4{color:green}
            A:link {text-decoration:none }
            A:visited {text-decoration:none }
            A:active {text-decoration:none }
            A:hover {text-decoration:none }

                /** Thumb flip 2.0 **/
                .thumb:hover{
                    animation-name:thumbflip;
                    animation-duration:3.5s;}

                /** don't really follow the math but werk! **/
                @keyframes thumbflip {
                    50% {transform:rotateY(180deg)}
                    100% {transform:rotateY(-360deg)}
                }


            </style>


            <a href="https://c.tenor.com/6Hixx4SFAeQAAAAM/backing-you-get-yours.gif" >
            <h4 class="fun" >#sponsored </h4>
            <h4 class="fun">#ad </h4>
            </a>

         <div class="thumb" style="width:250px" >
            <a href="https://docs.google.com/document/d/1ZmRTWw3wAjc18To9BVckSW1Xj8Yx1AtsTPls_FIshU8/edit ">
                <embed type="image/jpg" src="https://freesvg.org/img/Thumbs-Up-Silhouette.png" width="200" height="200"> </a>
             <p> this nifty picture links my notes</p>
         </div>


{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}