<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name1}}!</p>
        </div>
        <div class="col-12">
            <form action="/simon" id="simon" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Heyyy!">
            </form>


            <style> *{font-size: 25px;color:darkgreen;background-color:#cedec4} </style>
            <style> p.fun {font-size: 25px;color:darkgreen;background-color:#cedec4; text-align: center} </style>
            <br>
            <p class="fun"> Hello welcome to Simon Brunzell's about us Page, this is a page about the greatest thing ever... me! :)</p>
            <p class="fun">Some fun facts about me include...</p>
            <p class="fun"> and....</p>
            <p class="fun"> and you can't forget...</p>
            <p class="fun">Well now that you know you many fun things about me you should feel alot better</p>
            <p  class="fun"> But if not idk how you wouldn't, but if you dont't some how...?</p>
            <p class="fun"> go to Dreamzzz an amazing website full of resources to better your mental health,
                it's also made by some really cool people, including me! ;) </p>
            <h4 class="fun">#sponsored </h4>
            <h4 class="fun">#ad </h4>


            <a href="https://docs.google.com/document/d/1ZmRTWw3wAjc18To9BVckSW1Xj8Yx1AtsTPls_FIshU8/edit ">
            <embed type="image/jpg" src="https://freesvg.org/img/Thumbs-Up-Silhouette.png" width="200" height="200">
           </a>
            <p> this nifty picture is a link my notes</p>


        </div>
        <div class="col-12">
            <img src="/static/assets/PythonFlask.jpeg" style="height: 400px" >
        </div>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}