<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}


    <!-- Title, centered and font increased -->
   <center>
              <style>
                  p1 {color:darkgreen;}
                  p1 {font-size: 40px}
              </style>
       <p1 style="font-family:Fantasy;"> Tigran's Page</p1>
   </center>
=
    <!-- Hello World -->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <font face = "Fantasy">
            <p>Hello, {{name}}!</p>

        </div>

        <!-- W3 Schools image with link-moving right to left  -->
        <a href="https://www.w3schools.com/html/html_images.asp">
            <div class="move">
                <style>

                    div.move {transform: translate(800px, 0px);}

                </style>
            <img src="https://th.bing.com/th/id/R.2e924d7ce5c71ca245c51a89990dc37b?rik=D7jl8u0oQ%2fS01w&pid=ImgRaw&r=0" alt="Coder" style="width:550px;height:400px;">
        </a>
    </div>
      <!-- Enter your name/greetings bar -->
        <div class="col-12">
            <form action="/Tigran" id="Tigran" method="POST" >
                <label for="name">What is your name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>

        <!-- Link to my notes-->
        <a>   <a href="https://docs.google.com/document/d/1ZmRTWw3wAjc18To9BVckSW1Xj8Yx1AtsTPls_FIshU8/edit">Visit Tigran's Notes </>


            <!-- Background color-->
        <style>
            body {
                background-color: lightblue;
            }  </style>

    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}


</form>
</body>
</html>